
.carousel{
 position: relative;   
 display: flex;
 justify-items: center;
 align-items: center;
 height: 700px;
 width: 900px;
 overflow: hidden;  
}

.card {
    width: 90%;
    height: 600px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    color: black;
    z-index: -1;
   
  }
  
  .card.active {
    transform: translateX(0);
    opacity: 1;
  }
  
  .card.prev {
    transform: translateX(-200%);
    opacity: 0;
  
  }
  
  .card.next {
    transform: translateX(200%);
    opacity: 0;
   
  }
  
  button {
    margin: 5px;
  }
